html {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 45pt;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: max(10pt 20pt);
}

#ch1 {
  margin-left: 30px;
  margin-right: 30px;
}

p {
  font-size: 14pt;
  line-height: 20pt;
  width: 90%;
  color: black;
}

#gen {
  /* position: -webkit-sticky;
  position: sticky; */
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
